bin*/
*.code-workspace
*.sublime-project
3rdparty*
.idea*
./*build*
*build*
xcode*
temp-plot.html
matlab/*.msh
matlab/*.stl
__pycache__
.DS_Store
/data
/x.cpp
/x.exe
*.obj
/simpleTest/x64/Release
/simpleTest/simpleTest.tlog
/simpleTest/simpleTest.exe.recipe
*.iobj
*.ipdb
*.log
*.pdb
*.ilk
*.idb
*.swp
/simpleTest/__tracked_surface.stl
